.inbox-container {
  /* padding: 0 30px; */
}

.inbox-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  background-color: white;
}

.inbox-title {
  padding: 10px 20px;
}

.inbox-list {
  list-style: none;
}