.sidebar {
  /* padding: 10px; */
}

.sidebar-dialog {
  max-width: 100% !important;
  max-height: 100% !important;
  width: 80%;
  height: 100%;
  left: 0;

  border: none;
}

.sidebar-dialog.hide {
  max-width: 100% !important;
  max-height: 100% !important;
  width: 80%;
  height: 100%;
  
  border: none;
}

.sidebar-dialog[open] {
  animation: showSidebarDialog var(--animation-time-atd-open) ease normal;
}

.sidebar-dialog.hide {
  animation: hideSidebarDialog var(--animation-time-atd-open) ease normal;
}

@keyframes showSidebarDialog {
  from {
    transform: translateX(-100%);
  }

}

@keyframes hideSidebarDialog {
  to {
    transform: translateX(-100%);
  }
}

.sidebar-list {
  list-style-type: none;
}

.sidebar-item:not(.upcoming):not(.projects) {
  border-bottom: 1px solid #E6E6E6;
}

.projects-header {
  background-color: rgb(184, 184, 184);

  display: flex;
  justify-content: space-between;
}

.add-project-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 20px;
  height: 20px;
  border: none;
  background-color: inherit;
  font-weight: bold;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

.projects-list-item:hover,
.sidebar-item:not(.projects):hover {
  background-color: #E6E6E6;
}

.projects-header,
.projects-list-item,
.sidebar-item a,
.sidebar-item-list a {
  display: flex;
  align-items: center;
  gap: 7px;

  padding: 15px 10px;
  text-decoration: none;
  color: black;
}

.sidebar-item p,
.sidebar-item-list p {
  font-size: 1.2rem;
  font-weight: bold;
}

.sidebar-item iframe {
  width: 25px;
  height: 25px;
  border: none;
}

.projects-list-item {
  cursor: pointer;
}