.today-container {
  /* padding: 0 30px; */
  width: 100%;
}

.today-header {
  position: sticky;
  /* position: fixed;   */
  top: 0;
  width: 100%;
  z-index: 5;
  background-color: white;
}

.today-title {
  padding: 10px 20px;
}

.today-list {
  list-style: none;
}