.upcoming-container {
  /* padding: 0 30px; */
}

.upcoming-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  background-color: white;
}

.upcoming-title {
  padding: 10px 20px;
}

.upcoming-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  
  list-style: none;
}

