.sidebar {
  /* padding: 10px; */
}

.sidebar-div {
  height: 100vh;
  display: none;
}

.sidebar-dialog {
  max-width: 100% !important;
  max-height: 100% !important;
  width: 70%;
  height: 100%;
  left: 0;

  border: none;
}

.sidebar-dialog[open] {
  animation: showSidebarDialog var(--animation-time-atd-open) ease normal;
}

.sidebar-dialog.hide {
  animation: hideSidebarDialog var(--animation-time-atd-open) ease normal;
}

@keyframes showSidebarDialog {
  from {
    transform: translateX(-100%);
  }

}

@keyframes hideSidebarDialog {
  to {
    transform: translateX(-100%);
  }
}

.sidebar-list {
  list-style-type: none;
}

.sidebar-item:not(.upcoming):not(.projects) {
  border-bottom: 1px solid #E6E6E6;
}

.projects-header {
  background-color: rgb(184, 184, 184);

  display: flex;
  justify-content: space-between;
}

.add-project-button {
  display: flex;
  justify-content: center;
  align-items: center;

  align-self: center;
  line-height: 1;
  width: 30px;
  height: 30px;
  border: none;
  background-color: inherit;
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

.projects-list-item p {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  width: fit-content;
  overflow-wrap: break-word;
}

.projects-list-item:hover,
.sidebar-item:not(.projects):hover {
  background-color: #E6E6E6;
}

.projects-header,
.projects-list-item,
.sidebar-item a,
.sidebar-item-list a {
  display: flex;
  align-items: center;
  gap: 7px;

  padding: 15px 10px;
  text-decoration: none;
  color: black;
}

.sidebar-item p,
.sidebar-item-list p {
  font-size: 1.2rem;
  font-weight: bold;
}

.sidebar-item iframe {
  width: 25px;
  height: 25px;
  border: none;
}

.projects-list-item {
  cursor: pointer;
}

.page-container {
  height: 100vh;
  width: 100%;
}

@media only screen and (min-width: 768px) {

  .project-container {
    width: 100%;
  }
  
  .page-container.shifted {
    margin-left: 300px;
  }


  .page-container.shifted {
    width: calc(100% - 300px);
  }

  .footer-bar.shifted {
    left: 300px;
  }

  .add-task-dialog.shifted {
    left: 300px;
    width: calc(100% - 300px);
  }

  .sidebar-div {
    /* position: sticky; */
    position: fixed;
    top: 0;
    visibility: hidden;
    width: 0px;
    border-right: 1px solid #B8B8B8;
  }

  .sidebar-div.open {
    display: block;
    visibility: visible;
    width: 300px;
  }

  .sidebar-dialog {
    display: none;
  }
}