.task-title,
.task-description {
  font-family: "Times New Roman", Times, serif;
  padding: 5px 10px;
  caret-color: red;
  border: none;
  outline: none;
  resize: none;
  overflow-y: hidden;
}

.task-description {
  font-size: 1rem;
}

.date-and-priority-buttons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  border-bottom: 1px solid rgb(212, 209, 209);
  padding: 10px;
}

.task-due-date-para {
  font-size: 1rem;
  color: #646464;
}

.edit-calendar-svg,
.calendar-svg {
  width: 20px;
  height: 20px;
  border: none;
  pointer-events: none;
}

.edit-task-due-date-button-container,
.task-due-date-button-container {
  display: flex;
  align-items: center;
  gap: 3px;
  
  padding: 5px 10px;
  background-color: rgb(197, 197, 197);
  border-radius: 7px;
}

.edit-task-due-date-button-container:hover,
.task-due-date-button-container:hover {
  cursor: pointer;
}

.bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.task-location-dropdown {
  height: fit-content;
  max-width: 200px;
  padding: 5px;
}

.send-button {
  align-self: flex-end;

  background-color: #E5E5E5;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  
  display: flex;
}

.send-button.active {
  background-color: red;
  cursor: pointer;
}

.send-button-svg {
  width: 25px;
  height: 25px;
}

.send-button * {
  pointer-events: none;
}

.add-task-dialog {
  /* for some reason without max-width: 100% !important, 
    width: 100% isn't really 100% */
    max-width: 100% !important;
    width: 100%;  
    inset-block-start: auto; /* Allow the element to be positioned based on normal flow */
    inset-block-end: 0px; /* Keep the bottom edge aligned with the bottom of the containing block */
  border: 1px solid gray;
  border-radius: 10px 10px 0 0;
  border-bottom: none;
}

.add-task-dialog .task-title {
  font-size: 1.5rem;
}

.add-task-dialog::backdrop {
  /* background-color: white; */
  opacity: 0;
}

.add-task-dialog[open] {
  animation: show var(--animation-time-atd-open) ease normal;
}

.add-task-dialog.hide {
  animation: hide var(--animation-time-atd-open) ease normal;
}

@keyframes show {
  from {
    transform: translateY(100%);
  }

}

@keyframes hide {
  to {
    transform: translateY(100%);
  }
}

.add-task-form {
  display: flex;
  flex-direction: column;
}

.task-due-date-para.overdue,
.task-item-date-and-time.overdue {
  color: var(--overdue-color);
}

.task-due-date-para.due-later-today,
.task-item-date-and-time.due-later-today {
  color: var(--due-later-today-color);
}

.task-due-date-para.due-this-week,
.task-item-date-and-time.due-this-week {
  color: var(--due-this-week-color);
}

.task-due-date-para.due-tomorrow,
.task-item-date-and-time.due-tomorrow {
  color: var(--due-tomorrow-color);
}

.task-due-date-para.due-in-future,
.task-item-date-and-time.due-in-future {
  color: var(--due-in-future-color);
}

.task-due-date-para.no-date,
.task-item-date-and-time {
  color: var(--no-date-color);
}

.task-due-date-today-button,
.task-due-date-clear-button {
  border: none;
  padding: 7px 10px;
  cursor: pointer;
} */

.priority-0-color {
  color: black;
}
.priority-1,
.priority-1-color {
  color: red;
}
.priority-2,
.priority-2-color {
  color: rgb(146, 0, 243);
}
.priority-3,
.priority-3-color {
  color: blue;
}
.priority-4,
.priority-4-color {
  color: gray;
}