.edit-task-item-dialog {
  display: flex;
  flex-direction: column;
  gap: 10px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: none;
  border-radius: 10px;
}

.edit-task-item-dialog .task-due-date-button-container {
  align-self: flex-start;
}

.edit-task-item-dialog:not([open]) {
  display: none;
}

.edit-task-item-header {
  align-self: center;
}

.edit-task-title {
  max-height: 150px;
  height: auto;
  padding: 0 3px;
  font-size: 1.8rem;
  outline: none;
  font-family: "Times New Roman", Times, serif;
  resize: none;
  /* overflow-y: hidden; */
}

.edit-task-description {
  max-height: 150px;
  height: auto;
  padding: 0 3px;
  font-size: 1.3rem;
  outline: none;
  font-family: "Times New Roman", Times, serif;
  resize: none;
  /* overflow-y: hidden; */
}

.edit-task-location-dropdown {
  align-self: flex-start;
  max-width: 100%;
}

.edit-task-location-dropdown option {
  max-width: 100px;
  white-space: normal;
}

.edit-priority-dropdown {
  align-self: flex-start;
}

.edit-task-item-action-buttons {
  align-self: flex-end;
  display: flex;
  gap: 20px;
}

.edit-task-item-save-button {
  color: white;
  background-color: #00BFFF;
  font-weight: bold;
}

.edit-task-item-cancel-button {
  font-weight: bold;
  background-color: #C0C0C0;
}

.edit-task-item-save-button,
.edit-task-item-cancel-button {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.header-and-kebab {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.edit-task-item-header {
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  max-width: fit-content;
}

.edit-task-item-dialog .kebab-menu {
  /* justify-self: flex-end; */
  /* position: relative; */
}

.edit-task-item-dialog .kebab-icon {
  /* position: absolute; */
  /* right: 0; */
  /* top: 50%; */
  /* transform: translateY(-100%); */
}

.edit-task-item-dialog .delete-task {
  color: red;
  /* font-weight: bold; */
}

.edit-task-item-dialog .menu-list {
  position: absolute;
  top: 100%;
}


