.edit-project-name-dialog {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* transform: translateZ(0); */

  border: none;
  border-radius: 5px;
  padding: 10px;
}

.edit-project-name-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.edit-project-name-title {
  text-align: center;
}

.edit-project-name-dialog
.name-input {
  font-size: 1rem;
}

.edit-project-name-dialog 
.action-buttons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.edit-project-name-dialog 
.action-buttons button {
  flex: 1;
  border: none;
  font-weight: bold;
  cursor: pointer;
  padding: 5px 10px;
}

.edit-project-name-dialog
.confirm-button {
  background-color: green;
  color: white;
}

.edit-project-name-dialog
.name-input {
  outline: none;
}